<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562034782963-ed11vvqpbif713lv5tldksv8boub4omc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562034782963-ed11vvqpbif713lv5tldksv8boub4omc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>562034782963-c0r6tpie4vjoan4rruh92ee6q45p8lu2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTEh2SucyvUGqb_r36QxdU5jRsuQR-sfc</string>
	<key>GCM_SENDER_ID</key>
	<string>562034782963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sts.shopsmart</string>
	<key>PROJECT_ID</key>
	<string>shopmart-32c32</string>
	<key>STORAGE_BUCKET</key>
	<string>shopmart-32c32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562034782963:ios:8807cdd9937d0c358f3d86</string>
</dict>
</plist>